@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  /***GLobal***/
  --font: 'Ubuntu', sans-serif;
  --button--backgroundColor: #000000;
  --button--fontColor: #FFFFFF;
  --input--backgroundColor: #DEDEDE;
  --select--backgroundColor: #DEDEDE;

  /***Página Home***/
  /*Header*/
  --home__header--backgroundColor: #000000;

  /*Main*/
  --home__main--backgroundColor: #DEDEDE;
  --home__main__form--backgroundColor: #FFFFFF;

  /*Footer*/
  --home__footer--backgroundColor: #000000;

}
.app{
  font-family: var(--font);
  font-weight: 400;
}
